body{
  color: $black;
  font-family: $font-family1;
  font-size: 14px;
  line-height: 1.2;
  overflow-x: hidden;
  background-color: #eee;
}

@media (max-width: 767px){
  body .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .row {
    margin-right: -10px;
    margin-left: -10px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 1700px) {
  .container {
    width: 1630px;
  }
}

::selection {
  background: $color1; /* WebKit/Blink Browsers */
  color: $white!important;
}
::-moz-selection {
  background: $color1; /* Gecko Browsers */
  color: $white!important;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
a:focus, a:active,
button{
  outline: none!important;
}
a{
  color: $black;
  outline: none;
}


a:hover, a:active, a:focus, a:visited {
  @include transition-all(.4s);
  text-decoration: none;
  color: inherit;
}
a.underline:hover, a.underline:active, a.underline:focus, a.underline:visited {
  text-decoration: underline;
}

ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.sp-body{
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

/*js-helper*/
#js_width-helper{width: 1px}
@media(min-width: 768px) and (max-width: 1200px){
  #js_width-helper{width: 768px;}
}
@media(min-width: 1201px) and (max-width: 1440px){
  #js_width-helper{width: 1201px;}
}
@media(min-width: 1441px) and (max-width: 1600px){
  #js_width-helper{width: 1441px;}
}
@media(min-width: 1601px){
  #js_width-helper{width: 1601px;}
}

// custom classes
.relative{position: relative}
.inl-bl{display: inline-block;}
.fl-left{float: left;}
.fl-right{float: right;}
.fl-none{float: none;}
.mar-t{
  margin-top: 15px;
}
.uppercase{text-transform: uppercase;}
.underline{text-decoration: underline;}
.clear{clear: both;}
.center{text-align: center;}
.padd-1{padding: 1px;}
.important{color: $color1;}

.color1{color: $color1;}


.child-block-on-480{
  @media(max-width: 480px){
    & > div{
      width: 100%;
    }
  }
}
.block-on-480{
  @media(max-width: 480px){
    width: 100%;
  }
}

.ratio1-1{
  position: relative;
  display: block;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.ratio1-3{
  position: relative;
  display: block;
  &:before {
    content: '';
    display: block;
    padding-top: 33.33333333%;
  }
}

.ratio2-3{
  position: relative;
  display: block;
  &:before {
    content: '';
    display: block;
    padding-top: 66.66666667%;
  }
}

.ratio3-4{
  position: relative;
  display: block;
  &:before {
    content: '';
    display: block;
    padding-top: 75%;
  }
}

.image-holder {
  overflow: hidden;
}

.cover-img{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: auto;
  height: auto;
  max-width: 9999px;
  max-height: 9999px;
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  &.align-width{
    width:100%; height: auto!important;
  }
  &.align-height{
    height:100%; width: auto!important;
  }
}
.cover-bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-pos-helper {
  margin-left: -10px;
  margin-right: -10px;
}

@media(max-width: 600px){
  .block-on-600{
    width: 100%;
  }
}

@media(max-width: 480px){
  .xs-block{
    width: 100%;
  }
}