// ***********************************
// VARIABLES
// ***********************************

// TYPOGRAPHY
$font-family1: 'Open Sans', sans-serif;
$font-family2: 'Oswald', sans-serif;
$font-family3: 'Open Sans', sans-serif;

// COLORS
$blue: #0091CF;
$blue-light: #ECFDFF;
$pink: #E84793;
$pink-light: #FAEBF2;
$yellow: #FFD343;
$white: #fff;
$black: #525252;
$grey: #ddd;
