// ***********************************
// VARIABLES
// ***********************************

// TYPOGRAPHY
$font-family1:  'Open Sans', sans-serif;

// COLORS
$white: #fff;
$black: #545454;
$black-dark: #333;
$grey: #ddd;
$ocher: #DFC18D;

$color1: $ocher;
